---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

interface Props { post: CollectionEntry<"blog"> }
const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} | Alexi Hart`} description={post.data.excerpt}>
  <article class="prose">
    <h1 class="text-3xl">{post.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
